/zig-cache
/.zig-cache
/zig-out
./*.bc
./*.ir
./*.ll
tests/.cache
tests/build
compile_commands.json
/pmd-*
/infer-*
infer-out
*.tar.gz
pvs-*
/llvm
/libgit2*
/build
/zlib*
/clang+llvm*
/llvm-*
/.cache
/node_modules
/micros
# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache
*.log
/.cache
tests/temp-*.c

/dist*
