/zig-cache
/.zig-cache
/zig-out
*.bc
*.ir
*.ll
tests/.cache
tests/build
compile_commands.json
/pmd-*
/infer-*
infer-out
*.tar.gz
pvs-*
/llvm
/libgit2*
/build
/zlib*
/clang+llvm*
/llvm-*
/.cache
/node_modules
main.js
